{$extend "/modern-era" $}

{$define "#content" }
	<section id="content">
		<section id="super-mario-3D-world" class="game-page">
			<div class="main-stage">
				<ul class="scene">
					<li class="layer" data-depth=".15" style="z-index:6"><img src="/images/modern-era/super-mario-3D-world/orb9.png" class="orb orb7"></li>
					<li class="layer" data-depth=".2" style="z-index:6"><img src="/images/modern-era/super-mario-3D-world/orb8.png" class="orb orb6"></li>
					<li class="layer" data-depth=".25" style="z-index:6"><img src="/images/modern-era/super-mario-3D-world/orb7.png" class="orb orb5"></li>
					<li class="layer" data-depth=".3" style="z-index:6"><img src="/images/modern-era/super-mario-3D-world/orb6.png" class="orb orb4"></li>
					<li class="layer" data-depth=".35" style="z-index:6"><img src="/images/modern-era/super-mario-3D-world/orb5.png" class="orb orb3"></li>
					<li class="layer" data-depth=".4" style="z-index:7"><img src="/images/modern-era/super-mario-3D-world/ball.png" class="ball"></li>
					<li class="layer" data-depth=".44" style="z-index:7"><img src="/images/modern-era/super-mario-3D-world/mario.png" class="mario"></li>
					<li class="layer" data-depth=".7" style="z-index:8"><img src="/images/modern-era/super-mario-3D-world/orb4.png" class="orb orb2"></li>
					<li class="layer" data-depth=".9" style="z-index:8"><img src="/images/modern-era/super-mario-3D-world/orb1.png" class="orb orb1"></li>
				</ul>
				<ul class="background">
					<li class="layer clouds-bg" data-depth=".1" style="z-index:5"></li>
				</ul>
			</div>
		</section>
	</section>
{$}

{$define "#game-copy" }
	<span class="game-date">2011 &amp; 2013</span>
	<h1>Super Mario 3D Land &amp; World</h1>

	<p>Which brings us to where Mario stands today – poised and prepared for his next 3D platforming adventure, a follow-up to 3D Land the first that will appear on Wii U.</p>
	<p>Like Super Mario 64, it will let players explore in any direction they choose. Like Super Mario Bros. 2, it will give them a choice between four different heroes. And like Super Mario Bros. 3, it will introduce all new power-ups for our hero to claim – like the Cat Bell, which will transform him into a claw-scratching, wall-climbing feline.</p>
	<p>This fall can't come soon enough.</p>

	<ul class="game-meta no-bullets">
		<li>Console: 3DS &amp; Wii U</li>
		<li>Directors: Koichi Hayashida (Super Mario 3D Land), Koichi Hayashida (Super Mario 3D World)</li>
	</ul>
{$}
