{$extend "/modern-era" $}

{$define "#content" }
	<section id="content">
		<section id="super-mario-bros-Wii-WiiU" class="game-page">
			<div class="main-stage">

			</div>
		</section>
	</section>
{$}

{$define "#game-copy" }
	<span class="game-date">2009 &amp; 2012</span>
	<h1>New Super Mario Bros. Wii &amp; Wii U</h1>

	<p>Mario and Luigi's tug-of-war between cooperation and competition finally returned in the New Super Mario Bros. games. Sure, Luigi had been selectable as an alternative to his brother in several of these games' single-player modes – but co-op wasn't an option until now.</p>
	<p>And it didn't stop with just the brothers, either. Two nameless Toads jumped into the action as well, creating a four-player free-for-all that either ended with all in attendance working together toward a common goal, or descended into utter chaos as all four jockeyed for position against each other, trying to sabotage everyone else.</p>

	<ul class="game-meta no-bullets">
		<li>Console: Wii &amp; Wii U</li>
		<li>Directors: Shigeyuki Asuke (Super Mario Bros. Wii), Masataka Takemoto (Super Mario Bros. Wii U)</li>
	</ul>
{$}

