{$extend "/8bit-era" $}

{$define "#content" }
	<section id="content">
		<section id="super-mario-bros-3" class="game-page">
			<div class="main-stage">
				<div class="main-stage-inner">
					<div id="mario-wrapper">

						<div id="mario-power-name"></div>

						<div id="mario-power-ups">
							<a href="#" id="raccoon-power"><span></span></a>
							<a href="#" id="hammer-power"><span></span></a>
							<a href="#" id="shoe-power"><span></span></a>
							<a href="#" id="frog-power"><span></span></a>
							<a href="#" id="tanooki-power"><span></span></a>
						</div>

						<div id="mario"></div>
						<div id="poof"></div>

						<div class="as-raccoon transformed"></div>
						<div class="as-hammer transformed"></div>
						<div class="as-shoe transformed"></div>
						<div class="as-frog transformed"></div>
						<div class="as-tanooki transformed"></div>
					</div>

					<div id="platform"></div>

					<div id="cloud0" class="cloudly"></div>
					<div id="cloud1" class="cloudly"></div>
					<div id="cloud2" class="cloudly"></div>
					<div id="cloud3" class="cloudly"></div>
					<div id="cloud4" class="cloudly"></div>

					<audio id="transform-sound" preload="auto">
						<source src="/audio/8bit-era/super-mario-bros-3/transform.mp3" />
						<source src="/audio/8bit-era/super-mario-bros-3/transform.ogg" />
					</audio>
				</div>
			</div>
		</section>
	</section>
{$}

{$define "#game-copy" }
	<span class="game-date">1990</span>
	<h1>Super Mario Bros. 3</h1>

	<p>No sooner did the heroes return triumphant from their journey through the dream world than the princess decided to get herself kidnapped a second time.</p>
	<p>This time, the Mushroom Kingdom had expanded, now encompassing castles built in deserts, on seashores, and even on a cloud in the sky. It was the grandest, most taxing adventure he'd had yet – but, luckily, he had some new help too.</p>
	<p>More plentiful power-ups populated every new place he visited. He could dress up like a frog in order to swim more swiftly. He could even fly – not with wings, but with a multi-functional raccoon tail that could be wagged repeatedly to send him skyward.</p>

	<ul class="game-meta no-bullets">
		<li>Console: Nintendo Entertainment System</li>
		<li>Directors: Shigeru Miyamoto &amp; Takashi Tezuka</li>
	</ul>
{$}

