{$extend "/8bit-era" $}


{$define "#content" }
	<section id="content">
		<section id="super-mario-bros-2" class="super-mario-bros-2 game-page fadeIn animated">
				
			<audio class='cherry-audio'>
				<source src="../audio/8bit-era/super-mario-bros-2/smb2_cherry.ogg" type="audio/ogg">
				<source src="../audio/8bit-era/super-mario-bros-2/smb2_cherry.mp3" type="audio/mpeg">
			</audio>
			<audio class='bonus-chance-start-audio'>
				<source src="../audio/8bit-era/super-mario-bros-2/smb2_bonus_chance_start.ogg" type="audio/ogg">
				<source src="../audio/8bit-era/super-mario-bros-2/smb2_bonus_chance_start.mp3" type="audio/mpeg">
			</audio>
			<audio class='bonus-chance-lose-audio'>
				<source src="../audio/8bit-era/super-mario-bros-2/smb2_bonus_chance_lose.ogg" type="audio/ogg">
				<source src="../audio/8bit-era/super-mario-bros-2/smb2_bonus_chance_lose.mp3" type="audio/mpeg">
			</audio>
			
			<div class='super-mario-bros-2__art'>
				<div class='center-vertically'>
					<div class='super-mario-bros-2__main-stage center-vertically__inner main-stage'>
						<div class='select-a-player-area'>
							<img class='please-select-player' src='../images/8bit-era/super-mario-bros-2/please-select-player.png' alt=''/>
							<img class='arrow' src='../images/8bit-era/super-mario-bros-2/arrow.png' alt=''/>
							<div class='players'>
								<div class='player' data-name='mario'></div>
								<div class='player' data-name='luigi'></div>
								<div class='player' data-name='toad'></div>
								<div class='player' data-name='princess'></div>
							</div>
						</div>
						<div class='player-bio-modal'>
							<div class='player-bio-modal__inner'>
								<div class='player-bio' data-name='mario'>
									<div class='title'>Meet Mario</div>
									<div class='row2'>
										<img class='player-image' src='../images/8bit-era/super-mario-bros-2/players/mario--selected.png' alt=''/>
										<div class='player-bio-text'>Super Mario Bros. 2 solidified Mario as an all-around hero. He's quick, strong, and a solid jumper, and while he may not be the very best at any of them, he also doesn't have any weaknesses unlike his fellow heroes.</div>
									</div>
								</div>
								<div class='player-bio' data-name='luigi'>
									<div class='title'>Meet Luigi</div>
									<div class='row2'>
										<img class='player-image' src='../images/8bit-era/super-mario-bros-2/players/luigi--selected.png' alt=''/>
										<div class='player-bio-text'>While he may be a bit slow and underpowered, Luigi's ability to jump high into the air and stay afloat for a bit allows him to gain access to hidden areas.</div>
									</div>
								</div>
								<div class='player-bio' data-name='toad'>
									<div class='title'>Meet Toad</div>
									<div class='row2'>
										<img class='player-image' src='../images/8bit-era/super-mario-bros-2/players/toad--selected.png' alt=''/>
										<div class='player-bio-text'>Stubby little Toad might have the shortest jump of the crew, but his crazy strength and quick speed makes him a great character for those who're looking for a challenge.</div>
									</div>
								</div>
								<div class='player-bio' data-name='princess'>
									<div class='title'>Meet Princess</div>
									<div class='row2'>
										<img class='player-image' src='../images/8bit-era/super-mario-bros-2/players/princess--selected.png' alt=''/>
										<div class='player-bio-text'>Princess Toadstool's ability to soar horizontally through the air makes her the ideal choice for people who want to make it through the game without falling into hundreds of bottomless pits.</div>
									</div>
								</div>
							</div>
						</div>
					</div><!-- /.super-mario-bros-2__content -->
				</div><!-- /.vertical-align-outer -->
			</div><!-- /.super-mario-bros-2__art -->
		</section>
	</section>
	
	<div class='preload-images'>
		<img src='../images/8bit-era/super-mario-bros-2/players/mario--active.png' alt=''/>
		<img src='../images/8bit-era/super-mario-bros-2/players/luigi--active.png' alt=''/>
		<img src='../images/8bit-era/super-mario-bros-2/players/toad--active.png' alt=''/>
		<img src='../images/8bit-era/super-mario-bros-2/players/princess--active.png' alt=''/>
		<img src='../images/8bit-era/super-mario-bros-2/frame.png' alt=''/>
	</div>
{$}

{$define "#game-copy" }
	<span class="game-date">1988</span>
	<h1>Super Mario Bros. 2</h1>
	
	<p>Super Mario Bros. 2 gave players the power of choice, as you could pick from any of the four available heroes to act as your avatar in any of this game's levels. Each had their own strengths and weaknesses, too – Mario was the well-rounded pick, not excelling in any individual area. The Princess could daintily float through the sky, her jumps carrying her easily across long gaps the others couldn't clear.</p>
	<p>In Japan, Super Mario Bros. 2 was an altogether different game – a more difficult expansion pack to Mario's first Super outing. But it's America's #2 that has gone on to impact his series much, much more.</p>

	<ul class="game-meta no-bullets">
		<li>Console: Nintendo Entertainment System</li>
		<li>Director: Kensuke Tanabe</li>
	</ul>
{$}

