{$extend "/8bit-era" $}

{$define "#content" }
	<section id="content">
		<section id="super-mario-bros" class="game-page">
			<div class="main-stage">
			
			</div>
		</section>
	</section>
{$}

{$define "#game-copy" }
	<span class="game-date">1985</span>
	<h1>Super Mario Bros.</h1>

	<p>Mario took up running in 1985. And swimming, and even a bit of Jack and the Beanstalk vine-climbing too. He became a veritable athlete in comparison to his earlier, stodgier self – and by necessity, because there was a princess to be saved.</p> 
	<p>Super Mario Bros. exponentially expanded Mario's world, as now his adventures were no longer adequately contained within the confines of a single screen. He had to run to the right to scroll his way into seeing the rest of the landscape in front of him; an act which quickly became a staple of video games as a whole. All of this was in the name of, hopefully, saving the kidnapped princess from the evil Koopa King.</p>

	<ul class="game-meta no-bullets">
		<li>Console: Nintendo Entertainment System</li>
		<li>Director: Shigeru Miyamoto</li>
	</ul>
{$}


