{$extend "/arcade-era" $}

{$define "#content" }
	<section id="content">
		<section id="donkey-kong" class="donkey-kong game-page fadeIn animated">
			
			<div class='donkey-kong__art'>
				<div class='donkey-kong__main-stage main-stage'>
					<div class='donkey-kong__main-stage__inner'>
						<!-- This area rendered by JavaScript.
						<canvas></canvas>
						-->
					</div>
				</div>
			</div>
		</section>
	</section>
{$}

{$define "#game-copy" }
	<span class="game-date">1981</span>
	<h1>Donkey Kong</h1>

	<p>A single quarter was all it took to meet the man who would go on to define an entire medium. In 1981, the world gained access to a screen flicker, an iconic melody, and control of a carpenter named Jumpman.</p>
	<p>When Shigeru Miyamoto and Nintendo introduced Donkey Kong to the world, no one could've predicted that the tiny, overall-wearing hero who received second billing would go on to become synonymous with video games.</p>
	<p>The arcade game had you leaping over barrels, wielding massive hammers, and ultimately saving the damsel in distress. Eventually, Jumpman went on to change his name, expand his family, and star in a game of his own.</p>

	<ul class="game-meta no-bullets">
		<li>System: Arcade</li>
		<li>Director: Shigeru Miyamoto</li>
	</ul>
	
	<div class='preload-images'>
		<img src='../images/arcade-era/donkey-kong/3d-model/25c.jpg' alt=''/>
		<img src='../images/arcade-era/donkey-kong/3d-model/DK_bezel.png' alt=''/>
		<img src='../images/arcade-era/donkey-kong/3d-model/DK_controls.jpg' alt=''/>
		<img src='../images/arcade-era/donkey-kong/3d-model/DK_insert_coin.jpg' alt=''/>
		<img src='../images/arcade-era/donkey-kong/3d-model/DK_instructions.jpg' alt=''/>
		<img src='../images/arcade-era/donkey-kong/3d-model/DK_marquee.jpg' alt=''/>
		<img src='../images/arcade-era/donkey-kong/3d-model/DK_screen.jpg' alt=''/>
		<img src='../images/arcade-era/donkey-kong/3d-model/DK_sideart.jpg' alt=''/>
		
	</div>
{$}

