{$extend "/arcade-era" $}

{$define "#content" }
	<section id="content">
		<section id="mario-bros" class="mario-bros game-page fadeIn animated">
			<div  class="main-stage">
			</div>
		</section>
	</section>
{$}

{$define "#game-copy" }
	<span class="game-date">1986</span>
	<h1>Mario Bros.</h1>

	<p>That change in name was to "Mario," of course. That expansion of his family was the introduction of his green-clad twin brother, Luigi.</p> 
	<p>With one player commanding Mario's movements and another in control of Luigi, you could work together to kick creeping crabs, bouncing flies and shuffling turtles out of the sewer system they'd all infested. Mario was a carpenter no more – now, he and his brother were a pair of plumbers.</p>
	<p>Of course, you didn't have to work together. You could instead turn against your ally in what became the first example of a hallmark of Nintendo game design – multiplayer that encourages both cooperation and competition in equal measure.</p>

	<ul class="game-meta no-bullets">
		<li>System: Arcade</li>
		<li>Directors: Shigeru Miyamoto &amp; Gunpei Yokoi</li>
	</ul>
{$}

