{$extend "/3D-era" $}

{$define "#content" }
	<section id="content">
		<section id="super-mario-sunshine" class="game-page">
			<div class="sunshine-slime">
				<video class="sunshine-video" preload="none" loop="true" poster="../images/3D-era/super-mario-sunshine/slime-poster.jpg">
					<source src="../video/3D-era/super-mario-sunshine/slime.mp4" type="video/mp4" />
					<source src="../video/3D-era/super-mario-sunshine/slime.ogv" type="video/ogg" />
				</video>
			<canvas class="sunshine-canvas"></canvas>
		</section>
	</section>
{$}

{$define "#game-copy" }
	<span class="game-date">2002</span>
	<h1>Super Mario Sunshine</h1>

	<p>Mario needed a vacation…again. So he and the princess took a trip…again. And, of course, she got herself kidnapped…again.</p>
	<p>Super Mario Sunshine's tropical setting set this adventure apart from any of Mario's others, as our hero donned short sleeves to take in the sun while on his way to find his lady. More important than his shirt, though, was what Mario wore on his back – a water-filled, sentient backpack named F.L.U.D.D.</p>
	<p>A combination fire hose and jetpack, F.L.U.D.D. helped our hero clean up the polluted sludge that was detracting from the scenic Isle Delfino's appeal as a tourist destination.</p>

	<ul class="game-meta no-bullets">
		<li>Console: GameCube</li>
		<li>Directors: Yoshiaki Koizumi &amp; Kenta Usui</li>
	</ul>
{$}
