{$extend "/3D-era" $}

{$define "#content" }
	<section id="content">
		<section id="super-mario-64" class="game-page">
			<!--  -->
			<div class="mario-64-scene-wrapper">
				<div class="mario-64-scene"></div>
				<div class="mario-64-hero">
					<canvas id="mario-64-canvas"></canvas>
					<div class="mario-64-frame"></div>
					<div class="mario-64"></div>
				</div>
			</div>

			<!-- 
			<div class="mario-64-scene">
				<img class="aspect-ratio" src="../images/3D-era/super-mario-64/aspect-ratio.png">
				<span class="floor"></span>
				<span class="wall"></span>
				<span class="pillar-left"></span>
				<span class="pillar-right"></span>
				<span class="stage"></span>
			</div>
			 -->

			<div class="main-stage">
				<div class="main-stage-fill">&nbsp;</div>
			</div>
		</section>
	</section>
{$}

{$define "#game-copy" }
	<span class="game-date">1996</span>
	<h1>Super Mario 64</h1>

	<p>The power of the Nintendo 64 meant that Mario's running, jumping and Koopa-bashing was no longer locked into a simple, flat, two-dimensional view – he could instead run in any direction he wished, with the players at his controls choosing his path with the N64's new analog stick.</p>
	<p>Levels were broken up by magical paintings, each of which housed an entirely different world. It may have taken some adjustment for some to wrap their minds around an all-new dimension of gaming, but it was certainly worth it.</p>
	<p>In the end, Mario once again emerged victorious, his journey went on to set the framework for what has essentially become the modern 3D video game.</p>

	<ul class="game-meta no-bullets">
		<li>Console: N64</li>
		<li>Director: Shigeru Miyamoto</li>
	</ul>
{$}

