{$extend "/3D-era" $}

{$define "#content" }
	<section id="content">
		<section id="super-smash-bros" class="game-page">
			<div class="main-stage">
				<ul id="smash-scene" class="scene"
					data-calibrate-x="false"
				  	data-calibrate-y="false"
				  	data-invert-x="true"
				  	data-invert-y="true"
				  	data-limit-x="300"
				  	data-limit-y="0.1"
				  	data-scalar-x="30"
				  	data-scalar-y="0"
				  	data-friction-x="0.5"
				  	data-friction-y="0">
					<li class="layer" data-depth="0.2"><div id="smash-bg"></div></li>
					<li class="layer" data-depth="0.6"><div id="smash-stalagmite"></div></li>
					<li class="layer" data-depth="0.4"><div id="smash-stalagmite-2"></div></li>
					<li class="layer" data-depth="1"><div id="smash-fg-bottom"></div></li>
					<li class="layer" data-depth="0.8"><div id="smash-luigi"></div></li>
					<li class="layer" data-depth="1"><div id="smash-mario"></div></li>
				</ul>
			</div>
		</section>
	</section>
{$}

{$define "#game-copy" }
	<span class="game-date">1998-Present</span>
	<h1>Super Smash Bros., Mario Party, &amp; Mario Sports</h1>

	<p>Sometimes, Mario needs a break from running right, jumping, and sliding down flagpoles. A guy can only save a princess so many times before he needs a bit of R&amp;R. Luckily, he has plenty of ways to relieve some of that monotony.</p>
	<p>Battling against Nintendo's other iconic characters, stretching his legs for a bit of tennis, and partaking in a diabolical suite of mini-games are just a handful of the activities that Mario has participated in over the past 15 years.</p>
	<p>The wide array of genres that Mario has dabbled in shows just how versatile the character is. I mean, who else could go from plumber to olympiad in a single day?</p>

	<ul class="game-meta no-bullets">
		<li>Console: GameCube</li>
		<li>Directors: Various</li>
	</ul>
{$}
