{$extend "/3D-era" $}

{$define "#content" }

	<section id="content">
		<section id="super-mario-galaxy" class="game-page">
			<div class="main-stage">
				<ul id="galaxy-scene" class="scene"
					data-calibrate-x="true"
				  	data-calibrate-y="true"
				  	data-invert-x="true"
				  	data-invert-y="true"
				  	data-limit-x="200"
				  	data-limit-y="200"
				  	data-scalar-x="20"
				  	data-scalar-y="10"
				  	data-friction-x="0.5"
				  	data-friction-y="0.2">
					<li class="layer" data-depth="0.2"><div id="galaxy-bg"></div></li>
					<li class="layer" data-depth="0.9"><div id="galaxy-star-1"></div></li>
					<li class="layer" data-depth="0.4"><div id="galaxy-star-2"></div></li>
					<li class="layer" data-depth="1"><div id="galaxy-mario"></div></li>
				</ul>
			</div>

		</section>
	</section>

{$}

{$define "#game-copy" }
	<span class="game-date">2007 &amp; 2010</span>
	<h1>Super Mario Galaxy 1 &amp; 2</h1>

	<p>After running, jumping, and swimming across every kind of landscape imaginable, there was little else for Mario to explore on Earth – so he turned his attention to the stars.</p>
	<p>Our hero blasted off to explore the vast reaches of outer space in his two Super Mario Galaxy games, and that final frontier provided players with some of the most memorable moments yet in Mario's epic career.</p>
	<p>He could run around floating planetoids in any direction, zip from star to star, and create new heavenly bodies from the aether, only needing to invest some gathered bits of interstellar matter.</p>

	<ul class="game-meta no-bullets">
		<li>Console: Wii</li>
		<li>Directors: Yoshiaki Koizumi (Galaxy 1), Koichi Hayashida (Galaxy 2)</li>
	</ul>
{$}
