
// ---------------------------------------------------- RESPONSIVE BREAKPOINTS

@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (min-width: 1300px) { @content; }
  }
  @else if $point == mama-bear {
    @media (min-width: 960px) and (max-width: 1300px) { @content; }
  }
  @else if $point == sister-bear {
    @media (min-width: 768px) and (max-width: 960px) { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 767px) { @content; }
  }
  @else if $point == atomic-bear {
    @media (max-width: 480px) { @content; }
  }
}

.mobile-only {
    display: none;

    @include breakpoint(baby-bear) {
        display: block;
    }
}

// ---------------------------------------------------- COLOR PALETTE

$red: red;
$redDark: darken($red, 20%);
$blue: #08C;
$blueDark: darken($blue, 10%);

$brand-color-dark: $redDark;
.brand-color-dark {color: $brand-color-dark !important;}

// ---------------------------------------------------- TYPOGRAPHY

$proxima-nova: 'Proxima N W01 Reg';
$proxima-nova-bold: 'Proxima N W01 Bold';
$futura-bold: 'Futura W01 Bold';

strong {
    font-family: $proxima-nova-bold !important;
    font-weight: normal;
}

@mixin small-p {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 10px;

    @include breakpoint(mama-bear) {
    	font-size: 11px;
    	line-height: 14px;
    	margin-bottom: 10px;
    }

    @include breakpoint(sister-bear) {
    	font-size: 9px;
    	line-height: 12px;
    }
}
@mixin medium-p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;

    @include breakpoint(mama-bear) {
    	font-size: 14px;
    	line-height: 16px;
    }

	@include breakpoint(sister-bear) {
    	font-size: 14px;
    	line-height: 16px;
    }
}
@mixin large-p {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 30px;

    @include breakpoint(mama-bear) {
    	font-size: 18px;
    	line-height: 28px;
    	margin-bottom: 20px;
    }

    @include breakpoint(baby-bear) {
    	font-size: 16px;
    	line-height: 24px;
    	margin-bottom: 20px;
    }
}
p {
	&.caption {@include small-p;}
}

a {
	color: $red;
	&:hover, &:focus {
		text-decoration: none;
		color: $redDark;
	}
}

// ---------------------------------------------------- HELPER CLASSES 


.no-bullets {
	list-style-type: none;
}
ul {
	margin: 0;
	padding: 0;
}	

@mixin transitionFast {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

@mixin transitionMedium {
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}

// ---------------------------------------------------- FORMS

input, textarea {
	width: 100%;
	padding: 20px;
	border: 1px solid transparent;
	margin-bottom: 20px;
	resize: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

	&:focus {
		outline: none;
		border: 1px solid $redDark;
	}
}

// ---------------------------------------------------- ANIMATIONS

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-moz-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-o-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

