{$extend "/16bit-era" $}


{$define "#content" }
	<section id="content">
		<section id="super-mario-world" class="super-mario-world game-page fadeIn animated">
			
			
			<audio class='course-clear-audio'>
				<source src="../audio/16bit-era/super-mario-world/smw_course_clear.ogg" type="audio/ogg">
				<source src="../audio/16bit-era/super-mario-world/smw_course_clear.mp3" type="audio/mpeg">
			</audio>
			<audio class='keyhole-audio'>
				<source src="../audio/16bit-era/super-mario-world/smw_keyhole_exit.ogg" type="audio/ogg">
				<source src="../audio/16bit-era/super-mario-world/smw_keyhole_exit.mp3" type="audio/mpeg">
			</audio>
			<audio class='yoshi-tongue-audio'>
				<source src="../audio/16bit-era/super-mario-world/smw_yoshi_tongue.ogg" type="audio/ogg">
				<source src="../audio/16bit-era/super-mario-world/smw_yoshi_tongue.mp3" type="audio/mpeg">
			</audio>
			<audio class='yoshi-swallow-audio'>
				<source src="../audio/16bit-era/super-mario-world/smw_yoshi_swallow.ogg" type="audio/ogg">
				<source src="../audio/16bit-era/super-mario-world/smw_yoshi_swallow.mp3" type="audio/mpeg">
			</audio>
			
			<div class='super-mario-world__art'>
				<div class='super-mario-world__main-stage main-stage'>
					<div class='super-mario-world__world'>
						<div class='super-mario-world__circle-mask'>
							<img src='../images/16bit-era/super-mario-world/circle-mask.svg' />
						</div>
						<div class='super-mario-world__background'></div>
						<div class='super-mario-world__landscape'></div>
						<div class='super-mario-world__mario-and-yoshi'></div>
						<div class='super-mario-world__foods-container'>
							<img class='super-mario-world__food' src='../images/16bit-era/super-mario-world/foods/mushroom.png' alt=''/>
							<img class='super-mario-world__food' src='../images/16bit-era/super-mario-world/foods/berry.png' alt=''/>
							<img class='super-mario-world__food' src='../images/16bit-era/super-mario-world/foods/berry-2.png' alt=''/>
							<img class='super-mario-world__food' src='../images/16bit-era/super-mario-world/foods/coin.png' alt=''/>
							<img class='super-mario-world__food' src='../images/16bit-era/super-mario-world/foods/cloud.png' alt=''/>
						</div>
					</div><!-- /.super-mario-world__world -->
				</div><!-- /.super-mario-world__main-stage main-stage -->
			</div><!-- /.super-mario-world__art -->
		</section>
	</section>
	
	<div class='preload-images'>
		<!-- <img src='../images/16bit-era/super-mario-world/image.png' alt=''/> -->
	</div>
{$}

{$define "#game-copy" }
	<span class="game-date">1990</span>
	<h1>Super Mario World</h1>

	<p>Mario and the princess eventually took a trip to the scenic Dinosaur Land – where, immediately on arrival, she proceeded to get kidnapped for a third time. Bowser and his bunch of brats had beaten our heroes to their vacation destination and already managed to conquer the land. Luckily, Mario then managed to find a new ally in a dinosaur named Yoshi.</p>
	<p>Yoshi was insatiably hungry, and after Mario hopped up on the saddle on his back, the two set out together on a quest to eat every Koopa-loyal foe in sight. His long, frog-like tongue helped him safely snack from a distance, while chomping down on special Koopa shells activated even more abilities, like winged flight.</p>

	<ul class="game-meta no-bullets">
		<li>Console: SNES</li>
		<li>Director: Takashi Tezuka</li>
	</ul>
{$}
