{$extend "/16bit-era" $}

{$define "#content" }
	<section id="content">
		<section id="super-mario-kart" class="game-page">
			<div class="main-stage">

			</div>
		</section>
	</section>
{$}

{$define "#game-copy" }
	<span class="game-date">1992-Present</span>
	<h1>Super Mario Kart</h1>

	<p>Though it may not be one of his main adventures, the Mario Kart series helped usher in the idea that Mario can branch out and exist outside the platforming genre.</p>
	<p>Choosing your favorite character and speeding around tracks inspired by iconic locales across the Mushroom Kingdom seemed like such a strange idea on paper, but it's impossible to not be hooked the moment you get behind the wheel of a kart.</p>
	<p>Since its first appearance on the SNES, the Mario Kart series has captured the hearts of Nintendo fans across the world. It's a safe bet that anyone reading this has fond memories of dropping bananas, firing red shells, and getting zapped by a lightning bolt.</p>

	<ul class="game-meta no-bullets">
		<li>Console: SNES - Present</li>
		<li>Directors: Various</li>
	</ul>
{$}