{$extend "/16bit-era" $}

{$define "#content" }
	<section id="content">
		<section id="yoshis-island" class="game-page">
			<div class="main-stage">
				<div class="main-stage-inner">
					<div id="yoshi-power-ups">
						<a href="#" id="moletank-power"><span></span></a>
						<a href="#" id="submarine-power"><span></span></a>
						<a href="#" id="train-power"><span></span></a>
						<a href="#" id="helicopter-power"><span></span></a>
						<a href="#" id="racecar-power"><span></span></a>
					</div>
					<div id="yoshi-wrapper">
						<div id="yoshi"></div>

						<div class="as-moletank transformed"></div>
						<div class="as-submarine transformed"></div>
						<div class="as-train transformed"></div>
						<div class="as-helicopter transformed"></div>
						<div class="as-racecar transformed"></div>

						<div id="transform-poof"></div>
						<div id="baby-mario"></div>
					</div>
					<div id="transform-mask"></div>
				</div>	
				
				<audio id="yoshi-transform-sound" preload="auto">
					<source src="/audio/16bit-era/yoshis-island/yoshi-transform.ogg" type="audio/ogg"/>
					<source src="/audio/16bit-era/yoshis-island/yoshi-transform.mp3" type="audio/mpeg"/>
				</audio>
			</div>
		</section>
	</section>
{$}

{$define "#game-copy" }
	<span class="game-date">1995</span>
	<h1>Yoshi's Island</h1>
	
	<p>Nintendo threw its players a curve ball in 1995 by giving Mario a break from kidnapped-royalty recovery and instead rewinding our hero's timeline to his days of wearing diapers. Baby Mario made his debut, and we discovered that his first-ever adventure was, yes, with his dino pal Yoshi.</p>

	<p>After Luigi is kidnapped by an evil wizard named Kamek, Baby Mario finds himself rescued by a gang of friendly Yoshi...Yoshis...umm, whatever. Yoshi could eat enemies, fire eggs, and transform into a wealth of different vehicles. All of this, combined with some of the best music the series has ever heard, makes Yoshi's Island a complete gem.</p>

	<ul class="game-meta no-bullets">
		<li>Console: SNES</li>
		<li>Director: Takashi Tezuka</li>
	</ul>
{$}

