{$extend "/master" $}

{$define "#content" }
	<section id="content">
		<section id="final-screen" class="game-page">
			<div style="display: table;vertical-align: middle;height: 100%;">
				<article class="cover-block">
					<p class="subhead">It took only 25 cents to first meet Mario, now over 30 years ago. For all those who chose to do so, it must have been the single best quarter they ever spent - because he's been faithful to continue entertaining his fans for more than three decades now, and he's shown no signs of slowing down. Come on, Mario. Let's go save the princess again.</p>

					<a href="#" id="contest-block" class="twitter-feed-toggle fadeInRight animated" data-track="yes" data-cat="TW" data-label="Share">
				        <div class="contest-description">
				            <h5>Share your #MarioMemories</h5>
				            <p><span class="btn btn-red hidden-mobile">Tweet Your Own!</span></p>
				        </div>
				    </a>

					<footer>
						<p>Copyright 1996-2013, IGN Entertainment, Inc. An IGN Entertainment Games site</p>
						<ul>
							<li><a href="http://corp.ign.com/about" data-ignore="yes" target="_blank">About Us</a></li>
							<li><a href="http://corp.ign.com/" data-ignore="yes" target="_blank">Advertise</a></li>
							<li><a href="http://corp.ign.com/contact" data-ignore="yes" target="_blank">Contact Us</a></li>
							<li><a href="http://corp.ign.com/press" data-ignore="yes" target="_blank">Press</a></li>
							<li><a href="http://corp.ign.com/careers" data-ignore="yes" target="_blank">Careers</a></li>
							<li><a href="http://corp.ign.com/feeds" data-ignore="yes" target="_blank">RSS Feeds</a></li>
							<li><a href="http://www.ign.com/support" data-ignore="yes" target="_blank">Support</a></li>
							<li><a href="http://corp.ign.com/policies/privacy" data-ignore="yes" target="_blank">Privacy Policy</a></li>
							<li><a href="http://corp.ign.com/policies/user-agreement" data-ignore="yes" target="_blank">User Agreement</a></li>
							<li><a href="http://info.evidon.com/pub_info/8?v=1" data-ignore="yes" target="_blank">AdChoices</a></li>
						</ul>
					</footer>
				</article>
			</div>

			<div class="main-stage"></div>

		</section>

	</section>
{$}
