{$extend "/master" $}

{$define "#content" }

	<section id="content">
		<section id="start-screen" class="game-page">

			<article class="cover-block fadeIn animated">
				<div class="cover-block-inner">
					<h5>IGN Presents</h5>
					<h1>The Museum of Mario</h1>
					<p class="subhead">An interactive experience exploring the many eras of Mario. Turn on the audio and click around to find hidden interactions!</p>
					<p>Built by Intel's HTML5 Hub in collaboration with IGN</p>
				</div>
			</article>

			<div id="scroll-down-wrapper">
				<a href="arcade-era/donkey-kong" id="scroll-down" class="btn btn-red">
					Scroll, &nbsp;Swipe <i class="icon-hand-down"></i><i class="icon-hand-up"></i>&nbsp;
					or Key <i class="icon-collapse"></i>&nbsp;<i class="icon-collapse-top"></i>
				</a>
			</div>

			<div class="mario-canvas"></div>

			<div id="start-screen-bg"></div>
		</section>
	</section>

{$}
